@import "tailwindcss";

:root {
  --color-primary: #f9f8f6;
  --color-secondary: #f9f8f6;
  --color-accent: #0d4c75;
  --color-background: #dcdcdc;
  --color-gradient-start: #bfdbfe;
  --color-gradient-end: #a5f3fc;
  --color-text: #000000;
  --color-placeholder: grey;
}

.dark {
  --color-primary: #1e293b;
  --color-secondary: #334155;
  --color-accent: #64748b;
  --color-background: #0f172a;
  --color-gradient-start: #0f172a;
  --color-gradient-end: #000000;
  --color-text: #f1f5f9;
  --color-placeholder: white;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
