@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
}
:root {
  --color-primary: #d9eafd;
  --color-secondary: #bcccdc;
  --color-accent: #0d4c75;
  --color-background: #f8fafc;
  --color-text: #000000;
  --color-placeholder: grey;
}

.dark {
  --color-primary: #1e293b;
  --color-secondary: #334155;
  --color-accent: #64748b;
  --color-background: #0f172a;
  --color-text: #f1f5f9;
  --color-placeholder: white;
}
